.red{
    color:red;
}

.bg_color_change{
    width:900px;
    height:200px ;
    background-color: red;
    text-align:center;
}

.box{
    width:50px;
    height:50px ;
    margin: 20px;
    padding:20px;
    background-color: blue;
    text-align:center;

}
.box1{
    width:100px;
    height:100px ;
    background-color: blue;
}
.box2{
    width:100px;
    height:100px ;
    background-color: red;
}.box3{
    width:100px;
    height:100px ;
    background-color: green;
}
/* 問題１ */
.box11{
    width:100px;
    height:100px ;
    background-color: blue;
}
.box12{
    width:100px;
    height:100px ;
    background-color: red;
}.box13{
    width:100px;
    height:100px ;
    background-color: green;
}
.wrapper1{
    display:flex;
}
.box21{
    width:100px;
    height:100px ;
    background-color: green;
}
.box22{
    width:100px;
    height:100px ;
    background-color: blue;
}.box23{
    width:100px;
    height:100px ;
    background-color: red;
}
.wrapper2{
    display:flex;
}

/* 問題２*/
.boxQ2_a1{
    width:60px;
    height:60px ;
    background-color: blue;
}
.boxQ2_a2{
    width:60px;
    height:60px ;
    background-color: red;
}
.boxQ2_b1{
    width:60px;
    height:40px ;
    background-color: black;
}
.boxQ2_b2{
    width:60px;
    height:40px ;
    background-color: green;
}

.boxQ2_b3{
    width:60px;
    height:40px ;
    background-color: blue;
}

.boxQ2_c1{
    width:60px;
    height:20px ;
    background-color: red;
}
.boxQ2_c2{
    width:60px;
    height:40px ;
    background-color: yellow;
}

.boxQ2_c3{
    width:60px;
    height:60px ;
    background-color: green;
}

.wrapperQ2{

    display:flex;
}

/* 問題３ */
.boxQ3_1{
    width:100%;
    height: 100px;
    background-color: blue;
}


@media screen and (min-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    .boxQ3_2a{
        width:100%;
        height:300px ;
        background-color: red;
    }

    .boxQ3_2b{
        width:100%;
        height:100px ;
        background-color: black;
    }
    .Q3_2{
        display:flex;
        flex-wrap: wrap;
      
    }
}

@media screen and (min-width: 640px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    .boxQ3_2a{
        width:80%;
        height:300px ;
        background-color: red;
    }
    
    .boxQ3_2b{
        width:20%;
        height:300px ;
        background-color: black;
    }
    .Q3_2{
        display:flex;
    }
}

.boxQ3_3{
    width:100%;
    height:50px ;
    background-color: green;
}


/* 問題４ */
.boxQ4_1{
    width:220px;
    height: 20px;
    background-color: lightblue;
}
.boxQ4_2{
    width:220px;
    height: 60px;
    background-color: red;
}
.boxQ4_3a1{
    width:120px;
    height: 20px;
    background-color: lightblue;
    border-style: solid;
    border-color: yellow;
    border-width: 10px;
}
.Q4_3{
    display:flex;
}
.Q4_4a{
    display:flex;
}

.boxQ4_4a1{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-style: solid;
    border-color: yellow;
    border-left-width: 10px;
    border-right-width: 2.5px; 
    border-top: 0px; 
    border-bottom-width: 10px;
}
.boxQ4_4a2{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-style: solid;
    border-color: yellow;
    border-left-width: 2.5px;
    border-right-width: 2.5px; 
    border-top: 0px; 
    border-bottom-width: 10px;
}
.boxQ4_4a3{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-style: solid;
    border-color: yellow;
    border-left-width: 2.5px;
    border-right-width: 2.5px;  
    border-top: 0px; 
    border-bottom-width: 10px;
}
.boxQ4_4a4{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-style: solid;
    border-color: yellow;
    border-left-width: 2.5px;
    border-right-width: 2.5px; 
    border-top: 0px; 
    border-bottom-width: 10px;
}
.boxQ4_4a5{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-style: solid;
    border-color: yellow;
    border-left-width: 2.5px;
    border-right-width: 10px;  
    border-top: 0px; 
    border-bottom-width: 10px;
}



.boxQ4_3b{
    width:60px;
    height: 50px;
    background-color: lightblue;
    border-style: solid;
    border-color: greenyellow;
    border-width: 10px;
}



.big{
    font-size:30px;
}