.aki1a{
    font-size: 9px;
    color: #eddeb8;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#eddeb8;}

.aki1b{
    font-size: 9px;
    color: #498d37;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#498d37;}

.aki1c{
    font-size: 9px;
    color: #8c6b2a;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#8c6b2a;}

.aki1d{
    font-size: 9px;
    color: #e2983e;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e2983e;}

.aki1e{
    font-size: 9px;
    color: #eab77e;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#eab77e;}
    
.aki1{
    display:flex;
}

.aki2a{
    font-size: 9px;
    color: #c7a564;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#c7a564;}
.aki2b{
    font-size: 9px;
    color: #1c532c;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#1c532c;}
.aki2c{
    font-size: 9px;
    color: #817546;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#817546;}
.aki2d{
    font-size: 9px;
    color: #db7c29;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#db7c29;}
.aki2e{
    font-size: 9px;
    color: #d7674c;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d7674c;}

.aki2{
    display: flex;
}


.aki3a{
    font-size: 9px;
    color: #a37e40;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#a37e40;}
.aki3b{
    font-size: 9px;
    color: #273619;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#273619;}
.aki3c{
    font-size: 9px;
    color: #97a46d;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#97a46d;}
.aki3d{
    font-size: 9px;
    color: #d37020;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d37020;}
.aki3e{
    font-size: 9px;
    color: #d25e38;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d25e38;}

.aki3{
    display: flex;
}

.aki4a{
    font-size: 9px;
    color: #61451f;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#61451f;}
.aki4b{
    font-size: 9px;
    color: #43a6a0;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#43a6a0;}
.aki4c{
    font-size: 9px;
    color: #adb450;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#adb450;}
.aki4d{
    font-size: 9px;
    color: #d0a544;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d0a544;}
.aki4e{
    font-size: 9px;
    color: #d0432c;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d0432c;}

.aki4{
    display: flex;
}

.aki5a{
    font-size: 9px;
    color: #793d21;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#793d21;}
.aki5b{
    font-size: 9px;
    color: #176972;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#176972;}
.aki5c{
    font-size: 9px;
    color: #abb138;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#abb138;}
.aki5d{
    font-size: 9px;
    color: #e8ca2d;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e8ca2d;}
.aki5e{
    font-size: 9px;
    color: #c7302b;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#c7302b;}

.aki5{
    display: flex;
}


.aki6a{
    font-size: 9px;
    color: #352913;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#352913;}
.aki6b{
    font-size: 9px;
    color: #452d5f;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#452d5f;}
.aki6c{
    font-size: 9px;
    color: #627831;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#627831;}
.aki6d{
    font-size: 9px;
    color: #b27b1f;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#b27b1f;}
.aki6e{
    font-size: 9px;
    color: #8f1e22;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#8f1e22;}

.aki6{
    display: flex;
}

