.fuyu1a{
    font-size: 9px;
    color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 4px;
    width: 50px;
    height: 50px;
    background-color:#ffffff;}
.fuyu1b{
    font-size: 9px;
    color: #f9e0e0;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#f9e0e0;}
.fuyu1c{
    font-size: 9px;
    color: #1797cf;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#1797cf;}
.fuyu1d{
    font-size: 9px;
    color: #d31176;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d31176;}
.fuyu1e{
    font-size: 9px;
    color: #e899bb;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e899bb;}
    
.aki1{
    display:flex;
}


.fuyu2a{
    font-size: 9px;
    color: #c9c9ca;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#c9c9ca;}
.fuyu2b{
    font-size: 9px;
    color: #f8f6cf;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#f8f6cf;}
.fuyu2c{
    font-size: 9px;
    color: #146fa7;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#146fa7;}
.fuyu2d{
    font-size: 9px;
    color: #e9e683;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e9e683;}
.fuyu2e{
    font-size: 9px;
    color: #dc6991;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#dc6991;}

.aki2{
    display: flex;
}


.fuyu3a{
    font-size: 9px;
    color: #898989;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#898989;}
.fuyu3b{
    font-size: 9px;
    color: #e9eed5;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e9eed5;}
.fuyu3c{
    font-size: 9px;
    color: #144493;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#144493;}
.fuyu3d{
    font-size: 9px;
    color: #1fa258;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#1fa258;}
.fuyu3e{
    font-size: 9px;
    color: #d7557f;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d7557f;}

.aki3{
    display: flex;
}


.fuyu4a{
    font-size: 9px;
    color: #343432;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#343432;}
.fuyu4b{
    font-size: 9px;
    color: #ddeef0;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#ddeef0;}
.fuyu4c{
    font-size: 9px;
    color: #11337b;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#11337b;}
.fuyu4d{
    font-size: 9px;
    color: #118b42;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#118b42;}
.fuyu4e{
    font-size: 9px;
    color: #922a49;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#922a49;}

.aki4{
    display: flex;
}


.fuyu5a{
    font-size: 9px;
    color: #040000;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#040000;}
.fuyu5b{
    font-size: 9px;
    color: #cfdfd5;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#cfdfd5;}
.fuyu5c{
    font-size: 9px;
    color: #112a52;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#112a52;}
.fuyu5d{
    font-size: 9px;
    color: #006939;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#006939;}
.fuyu5e{
    font-size: 9px;
    color: #a61e2c;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#a61e2c;}

.aki5{
    display: flex;
}


.fuyu6a{
    font-size: 9px;
    color: #351812;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#351812;}
.fuyu6b{
    font-size: 9px;
    color: #ded3e7;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#ded3e7;}
.fuyu6c{
    font-size: 9px;
    color: #2f204c;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#2f204c;}
.fuyu6d{
    font-size: 9px;
    color: #003f2e;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#003f2e;}
.fuyu6e{
    font-size: 9px;
    color: #bb1a25;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#bb1a25;}

.aki6{
    display: flex;
}

