.natu1a{
    font-size: 9px;
    color: #ead1d2;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#ead1d2;}

.natu1b{
    font-size: 9px;
    color:#ecafbc;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#ecafbc;}

.natu1c{
    font-size: 9px;
    color:#e899bb;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e899bb;}

.natu1d{
    font-size: 9px;
    color:#e07481;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#e07481;}

.natu1e{
    font-size: 9px;
    color :#d66891;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d66891;}

.natu1{
    display:flex;
}

.natu2a{
    font-size: 9px;
    color: #b64d77;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#b64d77;}

.natu2b{
    font-size: 9px;
    color: #d83b5e;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color: #d83b5e;}

.natu2c{
    font-size: 9px;
    color: #be2838;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:	#be2838;}

.natu2d{
    font-size: 9px;
    color: #be2838;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:	#be2838;}

.natu2e{
    font-size: 9px;
    color:#ad2557;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#ad2557;}

.natu2{
    display: flex;
}

.natu3a{
    font-size: 9px;
    color: #c10f57;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#c10f57;}
.natu3b{
    font-size: 9px;
    color: #f0ebb5;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#f0ebb5;}

.natu3c{
    font-size: 9px;
    color: #a1cda8;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#a1cda8;}

.natu3d{
    font-size: 9px;
    color: #63b587;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color: #63b587;}

.natu3e{
    font-size: 9px;
    color: #109f76;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#109f76;}

.natu3{
    display: flex;
}


.natu4a{
    font-size: 9px;
    color: #d2eaf0;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#d2eaf0;}

.natu4b{
    font-size: 9px;
    color: #b1d6e2;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#b1d6e2;}

.natu4c{
    font-size: 9px;
    color: #70b2de;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#70b2de;}

.natu4d{
    font-size: 9px;
    color: #487ba7;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#487ba7;}

.natu4e{
    font-size: 9px;
    color: #3e6181;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#3e6181;}

.natu4{
    display: flex;
}

.natu5a{
    font-size: 9px;
    color: #34435c;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#34435c;}

.natu5b{
    font-size: 9px;
    color: #c3bddb;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#c3bddb;}

.natu5c{
    font-size: 9px;
    color: #9593b9;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#9593b9;}
    
.natu5d{
    font-size: 9px;
    color:#8b307a;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#8b307a;}

.natu5e{
    font-size: 9px;
    color:#f9f8e4;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#f9f8e4;}

.natu5{
    display: flex;
}

.natu6a{
    font-size: 9px;
    color: #f5e6c5;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#f5e6c5;}

.natu6b{
    font-size: 9px;
    color: #a58265;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#a58265;}

.natu6c{
    font-size: 9px;
    color: #755239;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#755239;}

.natu6d{
    font-size: 9px;
    color: #96a7af;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#96a7af;}

.natu6e{
    font-size: 9px;
    color: #5c6063;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50px;
    height: 50px;
    background-color:#5c6063;}

.natu6{
    display: flex;
}

